<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" class="alt">
	<a href="https://www.devreal.io/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>

	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="#sponsorship">Become a sponsor</a></li>
        <li><a href="/azure-in-a-nutshell">Azure in a Nutshell</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a class="button fit next" href="{{site.form-link}}">{{ site.reserve_btn }}</a></li>
	</ul>
</nav>