<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a class="button next" id="order1">Reserve Seat</a><div id="error-message1"></div></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">


        
        <!-- Two -->
        <section id="two" class="spotlights">

            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/msstudio2.jpg %}" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Instructor-led </h3>
                        </header>
                        <p>
                            Traditional instructor-led workshops costs many thousands of dollars. 
                            Compared to pre-recorded workshops that we buy online for little money, 
                            we expect greater value. That's not always the fact, but the reality.
                            <br><br>
                            We took the best of both worlds, and combined them in one workshop. 
                            The result is an instructor-led workshop for 50€. 
                            You can still ask questions, interact with each other, 
                            or just listen to the instructor.
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order2">Reserve Seat</a><div id="error-message2"></div></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/smallgroup.jpg %}" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Small Groups</h3>
                        </header>
                        <p>For many people, it's more fun to learn in small groups. It's also easier to ask questions. 
                            The same is true for the instructor. The instructor will learn about your challenges in much more detail, 
                            and can give you better answers. This workshop has a limit of 5 participants.
                            In case you are team of more than 5 people drop me a message.
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order3">Reserve Seat</a><div id="error-message3"></div></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/msbuild1.jpg %}" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Changing Focus Each Week</h3>
                        </header>
                        <p>
                            Azure API Management has many great features. 
                            Each week we will focus on one feature in more detail than on others. 
                            We will always cover the basics, so everyone in this workshop will be on the same page. 
                            In one workshop we might focus on Logging, in the next workshop we will investigate the Developer Portal. 
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order4">Reserve Seat</a><div id="error-message4"></div></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/group.jpg %}" alt="" data-position="25% 25%"/>
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Agenda</h3>
                        </header>
                        <p>
                            Azure API Management is used as the front door towards your services that can run on 
                            Azure Kubernetes Service, Azure Web Services and other places. This workshop will help 
                            you to understand Azure API Management, so you can deploy your APIs and secure your services.
                            <ul>
                                <li>Core concepts</li>
                                <li>Policies</li>
                                <li>Logging to Azure Event Hub</li>
                            </ul>
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order5">Reserve Seat</a><div id="error-message5"></div></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <a href="generic.html" class="image">
                    <img src="{% link assets/images/techx.jpg %}" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Hi, I'm Sven</h3>
                        </header>
                        <p>
                            I've worked with Azure API Management in production
                            for the last two years at Vipps AS. Vipps is the number one payments service in Norway, and also the 
                            most successful digital wallet in the world as almost the entire population of Norway is using the service. 
                            <br>How our developers interact with Azure API Management has impressed Microsoft  
                            so much that they invited us to Seattle and give a talk at Microsoft Build 2019.
                            What a great experience. I will share details in this workshop.
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order6">Reserve Seat</a><div id="error-message6"></div></li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </section>
            
        <section class="major">
                
            <div class="inner">
                <header class="major">
                    <h1>Next Workshop</h1>
                </header>
        
        <!-- Content -->
        <div class="row">
            <div class="4u 12u$(medium)">
                <h3>Date</h3>
                <p>8. July 2020</p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Time</h3>
                <p>15:00 CEST (Oslo/Berlin)</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Price</h3>
                <p>50€/student</p>
            </div>
        </div>
        <ul class="actions">
            <li><a class="button next" id="order7">Reserve Seat</a><div id="error-message7"></div></li>
        </ul>

        </section>
    </div>

    {% include footer.html %}

    <script>
        // Replace with your own publishable key: https://dashboard.stripe.com/test/apikeys
        var PUBLISHABLE_KEY = "pk_test_51GzhkJBdwAYDhgLkn9rkfBbxzEiyb1UrfMo9gPvUWcEkmDR2OOjcTmiUlzvQ6xg8qrWeiflQehBxkRlzF7AbkdeN00miAAkg7w";
        // Replace with the domain you want your users to be redirected back to after payment
        var DOMAIN = window.location.origin;
        // Replace with a Price for your own product (created either in the Stripe Dashboard or with the API)
        // You can also supply a SKU or Plan ID for 
        var PRICE_ID = "price_1GznsZBdwAYDhgLkkZpUndJt";
  
        if (PUBLISHABLE_KEY === "pk_test_51GzhkJBdwAYDhgLkn9rkfBbxzEiyb1UrfMo9gPvUWcEkmDR2OOjcTmiUlzvQ6xg8qrWeiflQehBxkRlzF7AbkdeN00miAAkg7w") {
          console.log(
            "Replace the hardcoded publishable key with your own publishable key: https://dashboard.stripe.com/test/apikeys"
          );
        }
  
        if (PRICE_ID === "price_1GznsZBdwAYDhgLkkZpUndJt") {
          console.log(
            "Replace the hardcoded SKU ID with your own SKU: https://stripe.com/docs/api/skus"
          );
        }
  
        var stripe = Stripe(PUBLISHABLE_KEY);
  
        for (i = 1; i < 7; i++) {
            var handleResult = function(result) {
            if (result.error) {
                var displayError = document.getElementById("error-message" + i);
                displayError.textContent = result.error.message;
            }
            };
            var order = document.getElementById("order" + i);
            order.addEventListener("click", function() {
            stripe
                .redirectToCheckout({
                mode: 'payment',
                lineItems: [{ price: PRICE_ID, quantity: 1 }],
                successUrl:
                    DOMAIN + "/success.html?session_id={CHECKOUT_SESSION_ID}",
                cancelUrl: DOMAIN + "/canceled.html"
                })
                .then(handleResult);
            });
        }
      </script>
</body>

</html>



