

<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1 style="line-height: 1.2em;">{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="font-size: 1.2em; font-weight: 900;">{{ page.landing-subtitle }}</p>
                <p>Happened in the past</p>
            </div>
            <div class="content">
                <p style="font-size: 1.2em;">{{ site.description }}</p>
				
                <ul class="actions">
                            <li><a class="button next" id="order6" href="{{site.apimnolink}}">{{ site.apimnolink_btn}}</a><div id="error-message6"></div></li>
                </ul>
				
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <section id="two" class="spotlights">

            <section>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h2>Tech Conversations</h2>
                        </header>
                        <p>{{ content }}</p>
                        <ul class="actions">
                            <li><a class="button next" id="order6" href="{{site.apimnolink}}">{{ site.apimnolink_btn}}</a><div id="error-message6"></div></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h2>I'M SVEN, YOUR HOST</h2>
                        </header>
                        <p>
                            I'm a Microsoft Azure MVP who has spend some time with Azure API Management in production
                            for the last two years at Vipps. Vipps is the number one payments service in Norway, and one of the 
                            most successful digital wallet in the world as almost the entire population of Norway is using Vipps. 
                            More about <a href="https://www.linkedin.com/in/svenmalvik/">me</a>.
                        </p>
                        <ul class="actions">
                            <li><a class="button next" id="order6" href="{{site.apimnolink}}">{{ site.apimnolink_btn}}</a><div id="error-message6"></div></li>
                        </ul>
                    </div>
                </div>
            </section>
            
        </section>
            
        <section class="major">
                
            <div class="inner">
                <header class="major">
                    <h1>Next <font style="color:#eae0d5;">DEV</font><font style="color:#C6AC8F;">REAL</font> Episode</h1>
                </header>
        
        <!-- Content -->
        <div class="row">
            <div class="4u 12u$(medium)">
                <h3>Date</h3>
                <p></p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Time</h3>
                <p></p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Price</h3>
                <p></p>
            </div>
        </div>
<!--
		<ul class="actions">
       		<li><a class="button next" id="order6" href="{{site.apimnolink}}">{{ site.apimnolink_btn}}</a><div id="error-message6"></div></li>
        </ul>
-->
        </section>
    </div>

    {% include footer.html %}

    <!-- <script>
        var PUBLISHABLE_KEY = "";
        var DOMAIN = window.location.origin;
        var PRICE_ID = "";

  
        var stripe = Stripe(PUBLISHABLE_KEY);
  
        for (i = 1; i <= 7; i++) {
            var handleResult = function(result) {
            if (result.error) {
                var displayError = document.getElementById("error-message" + i);
                displayError.textContent = result.error.message;
            }
            };
            var order = document.getElementById("order" + i);
            order.addEventListener("click", function() {
            stripe
                .redirectToCheckout({
                mode: 'payment',
                lineItems: [{ price: PRICE_ID, quantity: 1 }],
                successUrl: DOMAIN + "/success.html?session_id={CHECKOUT_SESSION_ID}",
                cancelUrl: DOMAIN + "/canceled.html"
                })
                .then(handleResult);
            });
        }
      </script> -->
</body>

</html>



